

body {
	
	background-image: url('./images/smurf1.jpg');
	background-repeat: no-repeat;
}

.App {
  color: darkblue;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}




